<!DOCTYPE html>
<html layout:decorate="~{layouts/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/itemForm.js"></script>
</head>
<body>
<div layout:fragment="content">
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!--<div class="col-md-7 col-lg-8 container">-->
                <form enctype="multipart/form-data" method="post" role="form" th:action="@{/admin/manage/item/new}"
                      >
                     <div class="row g-3">
                        <hr/>
                        <div class="col-12">
                            <label class="form-label">상품 상태</label><br/>
                            <input id="SELL" name="itemSellStatus" type="radio" value="SELL">판매중<br/>
                            <input id="SOLD_OUT" name="itemSellStatus" type="radio" value="SOLD_OUT">품절<br/>
                        </div>

                         <div class="col-12">
                             <label class="form-label">카테고리</label>
                             <select class="form-select form-select-sm"  id="category" name="category">
                             </select>
                         </div>

                         <div class="col-12">
                             <label class="form-label">브랜드</label>
                             <select class="form-select form-select-sm"  id="brand" name="brand">
                             </select>
                         </div>
                        <div class="col-12">
                            <label class="form-label">상품명</label>
                            <input class="form-control" placeholder="상품명을 입력해주세요"  type="text" name="itemNm" id="itemNm">
                        </div>

                        <div class="col-12">
                            <label  class="form-label">상품 설명</label>
                            <input class="form-control" name="itemDetail" id="itemDetail" placeholder="상품 설명을 입력하세요." type="text">
                        </div>

                        <div class="col-12">
                            <label class="form-label">상품 가격</label>
                            <input class="form-control" id="price" name="price" placeholder="상품 가격을 입력하세요."  type="text">
                        </div>

                        <div class="col-12">
                            <label class="form-label">상품 재고</label>
                            <input class="form-control" id="stock" name="stock" placeholder="상품 재고를 입력하세요."
                                   type="text">
                        </div>

                         <div class="form-group">
                             <div class="custom-file img-div">
                                 <input class="custom-file-input" name="itemImgFile" type="file" multiple>
                                 <label class="custom-file-label">상품이미지 선택</label>
                             </div>
                         </div>
                         </div>
                    <hr class="my-4">
                    <div style="text-align: center">
                    <button class="w-100 btn btn-primary btn-lg mb-3" type="submit">상품 등록</button>
                    </div>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">

                </form>
            </div>
        </div>
    </section>
</div>
<script>
</script>
</body>
</html>